.App {

  display: flex;
  /* justify-content: center; */
  align-items: right;
  flex-direction: column;

  height: 100vh;
  width: 80vw;

  margin: auto;
  /* margin-left: 50px; */
  margin-top: 100px;
  padding: 0;
}

.headerInsetContainer, .exchangeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;

  margin-left: 40px
}

.newsListContainer {
  width: 650px;
  font-size: 15px;
}

ul {
  list-style: none; 
}

li:before {
  font-family: 'FontAwesome';
  content: '\f12a';
  margin:0 5px 0 -15px;
  color: violet;
  }

  .searchContainer {
    display: flex;
    align-items: flex-end;
    height: 40px;
  }

  .searchLogo {
    width: 40px
  }

  .search {
    width: 800px;
    height: 26px;
    padding: 0;
  }

  .serachButton {
    height: 30px;
  }

  .inputContainer {
    display: flex;
    /* align-items: baseline; */
  }










