.App {

  display: flex;
  /* justify-content: center; */
  align-items: right;
  flex-direction: column;

  height: 100vh;
  width: 80vw;

  margin: auto;
  /* margin-left: 50px; */
  margin-top: 100px;
  padding: 0;
}



.headerInsetContainer, .exchangeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;

  margin-top: 10px;
  margin-left: 40px
}

.link, .searchInsetItemLink {
  text-decoration: none;
  color: rgb(29, 125, 235);
  font-weight: 600;
  font-size: large;
}

.newsListContainer {
  width: 700px;
  font-size: 15px;
  padding-left: 15px
}

ul {
  list-style: none; 
  margin-bottom: 0
}

.newsListItem::before {
  content: '';
  background-image: url('./img/favicon.ico');
  padding:8px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-origin: border-box;
  }

  .inputInsetContainer {
    width: 600px;
  }
  .inputInsetLink {
    font-weight: 500;
    font-size: medium;
  }
  

  .searchContainer {
    display: flex;
    align-items: flex-end;
    height: 40px;
  }

  .searchLogo {
    width: 40px
  }

  .search {
    width: 800px;
    height: 30px;
    padding: 0;
    padding-left: 10px;
    border: 2px solid rgb(255, 208, 0);
    border-radius: 10px 0px 0px 10px;
    outline: 0;
    font-size: medium;
  }

  .serachButton {
    height: 34px;
    background: rgb(255, 208, 0);
    padding: 5px 15px;
    font-weight: 600;
    border: 1px solid rgb(255, 208, 0);
    border-radius: 0px 10px 10px 0px; 
    cursor: pointer;
  }

  .inputContainer {
    display: flex;
    /* align-items: baseline; */
  }

  .exchangeItem {
    font-weight: 600;
    font-size: 16px;
  }

  .searchInset {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-left: 40px;
    width: 600px;
  } 
  .searchInsetItem {
    margin: 0;
    padding: 0;
  }

  .searchInsetItemLink {
    font-size: medium;
    font-weight: 400;
  }

  .GarriImg {
    margin: 20px 0px 0px 40px;
    width: 560px;
    height: 280px;
  }

  .weatherContainer {
    display: flex;
    align-items: center;
  }

  .weatherImg {
    width: 70px;
    height: 70px;
  }

  .temperature, .morningNight {
    color: black;
  }
  .temperature {
    font-size: 26px;
    margin-left: 10px;
  }

  .morningNight {
    margin-left: 10px;
  }

  .morningNightText {
    margin: 0;
    font-weight: 400;
  }










